* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F6F0EB;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

main {
    padding: 0 24px;
}

header {
    background-color: #ffffff;
    padding: 24px 32px;
}

.header-content {
    max-width: 1290px;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    height: 50px;
}

.logo img {
    height: 100%;
    cursor: pointer;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: #492118;
    font-size: 20px;
    font-weight: 700;
}

nav a+a {
    margin-left: 60px;
}

.hero-section {
    margin-top: 40px;
}

img {
    width: 100%;
}

.img-container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-section p {
    text-align: center;
    color: #492118;
    font-size: 24px;
}

.section {
    margin-top: 120px;
}

.section .img-container {
    max-width: 900px;
    padding: 0 20px;
}

.section h1 {
    text-align: center;
    columns: inherit;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.goto-top {
    max-width: 900px;
    margin: 0 auto;
    text-align: right;
    padding: 0 20px;
    margin-top: 50px;
}

.goto-top a {
    color: #492118;
    /* text-decoration: none;  */
    font-size: 24px;
    font-weight: 700;
}

footer p {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #858585;
    margin-bottom: 20px;
}

.close-icon {
    position: absolute;
    font-size: 28px;
    top: 4px;
    right: 24px;
    cursor: pointer;
    display: none;
}

.humburger-menu-container {
    overflow: hidden;
    position: relative;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    display: none;

}

.huberger-menu {
    background-color: #ffffff;
    height: 170px;
    width: 188px;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: -100px;
    right: -100px;
    border-radius: 50%;
}

.humburger-icon {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    bottom: 28px;
    left: 45px;


}

@media(max-width:1200px) {
    nav a {
        font-size: 16px;
        font-weight: 700;
    }

    nav a+a {
        margin-left: 40px;
    }
}

@media(max-width:900px) {
    nav a {
        font-size: 12px;
        font-weight: 700;
    }

    nav a+a {
        margin-left: 30px;
    }

    .hero-section {
        margin-top: 20px;
    }

    .section {
        margin-top: 30px;
    }

    .section h1 {
        font-size: 20px;
    }

    .goto-top a {
        font-size: 16px;
    }
}

@media (max-width:768px) {
    header {
        background-color: transparent;
        backdrop-filter: blur(8px);
        position: sticky;
        top: 0;
    }

    nav {
        position: absolute;
        background: rgba(255, 255, 255, 0.75);
        flex-direction: column;
        right: -200px;
        top: 27px;
        padding: 24px;
        transition: all 0.25s ease-in-out;
    }
    footer p{
        margin-top: 20px;
        font-size: 12px;
    }

    nav a+a {
        margin: 0;
        margin-top: 16px;
    }

    .close-icon {
        display: block;
    }
    .humburger-menu-container{
         display: block;
    }
    .menu-open nav{
        right: 30px;
    }
    .menu-open .humburger-menu-container{
        display: none;
    }
}